<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mu.framework.mapper.CommentMapper">

    <select id="getCommentsByArticleId" resultType="com.mu.framework.domain.Comment">
        SELECT
            comment.id,user.`name`,comment.content,comment.parent_id
        FROM
            comment
                LEFT JOIN user ON comment.create_by = user.id
        WHERE
            comment.article_id = #{articleId}
        ORDER BY
            comment.create_time DESC;
    </select>
</mapper>